# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
tfplan

# Local env files
.env
.env.*

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db
